.row{
	max-width:100%;
}
.top-bar
{
	background-color:#FFF;
	color:#666;
	border-bottom: 1px solid #e1e4e7;
}

li{
	outline: none !important;
}

.dropdown.menu .submenu {
	min-width: 110px !important;
}

.logout{
	margin-right: 40px !important;
	font-size: 18px !important;
}

.logout>li>ul{
	font-size: 18px !important;
}
.top-bar-right{
	float: right;
	color:#2199e8;
}
.top-bar ul{
	background-color: #FFF;
	font-size:15px;
}
.main{
	margin-top: 10px;
	padding-right: 0px !important;
	max-width: 100%;
	padding-left: 10px;
	color:#666;
}
.back{
	border-bottom: 1px solid #e1e4e7;
}
.table-back-button{
    padding: 0 10px 4px 6px;
    background: #e1e1e1;
    color: #777;
    border: 1px solid #ccd1d9;
    position: relative;
    width:70px;
    line-height:2;
}
.back-icon{
    position: relative;
    top: 3px;
    left: -4px;
    font-size: 16px;
}
.backblock{
	height:30px;
}
#table-back-row{
	padding: 5px 0 5px 20px;
    border-bottom: 1px solid #e1e4e7;
}
.charts{
	margin-top:30px;
	padding:0px;
}
.vslink{
	padding-right: 20px;
	color:#ec4850;
}
.info{
	margin-top:30px;
	padding:0px;
	border-bottom:1px solid #e1e4e7;
}
.filters{
	margin-top:10px;
	padding:0px;
	border-bottom:1px solid #e1e4e7;
	padding-bottom:20px;

}
.filters>div{
 	display:inline-block;
 }
.awards
{
	padding-left:20px;
}
.awards>li{
	padding-top:10px;
}

.tables{
	margin-top:10px;
	padding:0px;
	border-top:1px solid #e1e4e7;
}
.all-table{
	padding:0px;
	margin-top:10px;
}

.filter-table{
	margin-top:10px;
	padding:0px;
}

.batting{
	border-right:1px solid #e1e4e7;
	padding-right:10px;

}

.bowling{
	padding-left:10px;
}

.graphs{
	width:100%;
	padding:30px;
	padding-top: 100px;
}

.graphspie{
	width:100%;
	padding:30px;
}

.card{
	border: 1px solid #e1e4e7;
    	padding: 20px;
    	margin: 10px;

}


.tabs, .tabs-content{
	border: none;
	border-bottom: 1px solid #e1e4e7;
}

.tabs-title>a{
	color:#666;
	font-size:16px;
	font-weight:normal;
}


.tabs-title>a:focus,.tabs-title>a[aria-selected=true] {
	background-color: #FFF;
	color: #008cdd;
	border-bottom: 1px solid #008cdd;
	}

 .tabs-title>a:hover{
 	background-color: #FFF;
 }
 
 .tabs-panel{
 	padding:0px;
 }
 
 .list-head{
 	padding-top:20px;
 	font-size:18px;
 	color:#333333;
 }
 
 .main-table-head{
 	font-size:20px;
 	padding:20px;
 	color: #434454;
 
 }
 
 .source-input{
 	width:240px;
 	border:1px solid #e1e4e7;
 	height:2.275rem;
 	box-shadow:none;
 	font-size:.874rem;
 }
 
 .search-box{
 	padding-left:20px;
 
 }
 
 .margin{
	 margin-left:40px;
	 margin-top:15px;
	}
 
 .drop-box{
 	padding-left:20px;
 	background-color:#FFFFFF;
 }
 
  .drop-year{
 	background-color:#FFFFFF;
 }
 
 
 .info-section>div{
 	display:inline-block;
 }
 
 .table-back-button{
 	backround:#e1e4e7;
 	padding:0px;
 }
 
 .drop{
 	width:200px;
 }
 
 .small-head{
 	font-size:16px;
	text-transform: uppercase;
	color: #656d78;
	font-weight: 500;
 }
 
 .main-table-search{
 
 	width:220px;
 }
 
 .order-by {
    position: relative;
    top: 3px;
    left: 5px;
    cursor: pointer;
    font-size:16px;
}
 
 .table-body
 {
 	border:none;
 }
 
thead th{
padding:.5rem .625rem .625rem;
font-weight:700;
text-align:left;
}
 
 .table-head{
 	background:#FFFFFF;
 	border:1px solid #e1e4e7;
 	border-left:none;
 	border-right:none;
 }
 
 .overall-table{
 	background-color:#FFFFFF !important;
 	border-bottom:1px solid #e1e4e7;
 }

 
.filter-drop{
	background-color: #FFFFFF;
	margin-top: 10px;
	width:250px;
	margin-right: 10px;
}

.align{
	display: inline-block;
}

.inline{
	display: inline-block;
}



.label-margin{

	margin:10px;
}

.tag{
	margin-left: 20px;
}

.top{
	margin-top: 40px;
}

.meter{
	display: block;
    float: left;
    height: 100%;
}

.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}

.bottom{
	border-bottom: 2px solid #eee;
}

.check-data{
	font-size: 14px;
	margin-left:10px;
}

.filtered-data{

	margin-bottom: 20px;
	margin-top: 25px;
	font-size: 14px;
}
.tittletext{
	padding-top: 20px;
	padding-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 20px;
	color: #666;
	
}
.headtext{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	color: #666;
	 text-align: justify;x
}
.check-filter{
	display: inline-block;
	width: 140px;
	margin-left: 10px;
}

.filter-area{
	border-right: 2px solid #eee;
}

.iconsize{
	font-size: 40px;
}

.text-center{
	text-align: center;
}

.top-bar-left{
	float: left;
}

.filter-bar{
	background: #37454d;
	color:#FFF;
	padding: 20px;
}

.filter-selectsmall{
	width: 120px !important;
}


.table-section{
	border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.11111rem;
    padding: 1.11111rem;
    background: #FFF;
    color: #333333;
}

.panel{
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.11111rem;
    padding: 1.11111rem;
    background: #FFF;
    color: #333333;
}

.search-left{
	margin-top: 20px;
    padding-top: 0px !important;
}

.social-left{
	margin: 20px;
    padding-top: 0px !important;
}

.senti-area{
	float: left !important;
	margin-left: 15px;
}

.social-table{
	padding-left: 20px;
    padding-right: 20px;
}

.senti-left{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding-top: 0px;
}
#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}

.brand-logo{
	width:150px;
}

.comp-panel{
	margin-top: 10px;
	margin-bottom: 3px;
	color:#666;
}

.align-right{
	text-align: right;
}

.reviews-panel{
	float: left;
	width:100%;
}

.review-subpanel{
	float: left;
	width:100%;
}


span.stars, span.stars span {
    display: block;
   /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
    background: url('https://apppresser.com/wp-content/uploads/2015/11/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.alignright {
  float:right;
}

.review-data-subpanel{
	margin-top: 35px;
}

.review-panel-logo{
	width:100px;
	height: 100px;
}

.review-link>a{
	float: right;
	font-size: 12px !important;
}

.review-link>span{
	color:#2199e8 !important;
}